.thumbnail{
	width: auto;
    height: 350px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.row-image{
    width: auto;
	height: 100px; 
}

table {
    border-spacing: 50px 10px;
  }