{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    
    <div class="cart-row">
        <table style="width:100%">
                <tr>
                    <th>Product</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                    <th>Total</th>
                </tr>
                {% for item in items %}
                <tr>
                    <td><img class="row-image" src="{{item.product.image.url}}"></td>
                    
                    <td><p>{{item.product.name}}</p></td>
                    
                    <td><p>Rs. {{item.product.price}}</p></td>
                    
                    <td><p>
                         
                        <button class="btn btn-sm update-cart" data-action="remove" data-product="{{item.product.name}}">
                            -
                        </button>
                    
                        {{item.quantity}}
                    
                        <button class="btn btn-sm update-cart" data-action="add" data-product="{{item.product.name}}">
                            +
                        </button>
                    </p></td>
                    <td><p><button class="btn btn-sm update-cart" data-action="del" data-product="{{item.product.name}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                    </button></p></td>
                    <td><p>Rs. {{item.get_total}}</p></td>
                
                </tr>
                {% endfor %}
        </table>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <a href="{% url 'store' %}"><button  class="btn btn-outline-secondary btn-sm" style="float:right">Continue Shopping</button></a>
            <p style="float:left">Items : {{order.get_cart_items}}</p>
            <div style="clear: both;"></div>
            <p style="float:left">Total : Rs. {{order.get_cart_total}}</p>
            <a href="{% url 'checkout' %}"><button  class="btn btn-outline-secondary btn-sm" style="float:right">Checkout</button></a>
            <div style="clear: both;"></div>
        </div>
    </div>
            
{% endblock content %}
