{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <form id="form">
            <p style="float:left;font-size:1.5em"><b>Shipping Information</b></p>
            <input id="form-button" class="btn btn-secondary" type="submit" value="Continue" style="float: right;">
        <div style="clear: both;"></div>
        <hr>
            <div id="user-info">
                <div class="form-field">
                    <input required class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="form-field">
                    <input required class="form-control" type="email" name="email" placeholder="Email">
                </div>
            </div>
            
            <div id="shipping-info">
                <div class="form-field">
                    <input class="form-control" type="text" name="address" placeholder="Address">
                </div>
                <div class="form-field">
                    <input class="form-control" type="text" name="city" placeholder="City">
                </div>
                <div class="form-field">
                    <input class="form-control" type="text" name="state" placeholder="State">
                </div>
                <div class="form-field">
                    <input class="form-control" type="text" name="zipcode" placeholder="Pincode">
                </div>
            </div>
            
            
        </form>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
        </div>
    </div>
    
    
    <div class="col-lg-6">
        <p style="float:left;font-size:1.5em"><b>Order Summary</b></p>
        <a href="{% url 'cart' %}"><button  class="btn btn-outline-secondary btn-sm" style="float:right">Return to Cart</button></a>
        <div style="clear: both;"></div>
        <hr>
        <table style="width:100%">
            <tr>
                
                <th style="text-align:left">Image</th>
                <th style="text-align:center">Item</th>
                <th style="text-align:center">Price</th>
                <th style="text-align:center">Quantity</th>
                <th style="text-align:right">Total</th>
                
            </tr>
            
            {% for item in items %}
            <tr>
                <td style="text-align:left"><img class="row-image" src="{{item.product.image.url}}"></td>
                <td style="text-align:center"><p>{{item.product.name}}</p></td>
                <td style="text-align:center"><p>Rs.{{item.product.price|floatformat:2}}</p></td>
                <td style="text-align:center"><p>{{item.quantity}}</p></td>
                <td style="text-align:right"><p>Rs. {{item.get_total}}</p></td>
            </tr>
            {%endfor%}
        </table>
        <hr>
        
        <p style="float:left">Total Items : {{order.get_cart_items}}</p>
        <p style="float:right">Total : Rs.{{order.get_cart_total}}</p>
        <div style="clear: both;"></div>
    </div>
</div>
{% endblock content %}
