{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div id="form-wrapper">
            <form id="form">
                {% csrf_token %}
                <p style="float:left;font-size:1.5em"><b>Shipping Information</b></p>
                <input id="form-button" class="btn btn-secondary" type="submit" value="Continue" style="float: right;">
            <div style="clear: both;"></div>
            <hr>
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                </div>
                
                <div id="shipping-info">
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="pincode" placeholder="Pincode">
                    </div>
                </div>
                
                
            </form>
        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <!--button id = "make-payment">Make Payment</button-->
            <div id="paypal-button-container"></div>
        </div>
    </div>
    
    
    <div class="col-lg-6">
        <p style="float:left;font-size:1.5em"><b>Order Summary</b></p>
        <a href="{% url 'cart' %}"><button  class="btn btn-outline-secondary btn-sm" style="float:right">Return to Cart</button></a>
        <div style="clear: both;"></div>
        <hr>
        <table style="width:100%">
            <tr>
                
                <th style="text-align:left">Image</th>
                <th style="text-align:center">Item</th>
                <th style="text-align:center">Price</th>
                <th style="text-align:center">Quantity</th>
                <th style="text-align:right">Total</th>
                
            </tr>
            
            {% for item in items %}
            <tr>
                <td style="text-align:left"><img class="row-image" src="{{item.product.image.url}}"></td>
                <td style="text-align:center"><p>{{item.product.name}}</p></td>
                <td style="text-align:center"><p>Rs.{{item.product.price|floatformat:2}}</p></td>
                <td style="text-align:center"><p>{{item.quantity}}</p></td>
                <td style="text-align:right"><p>Rs. {{item.get_total}}</p></td>
            </tr>
            {%endfor%}
        </table>
        <hr>
        
        <p style="float:left">Total Items : {{order.get_cart_items}}</p>
        <p style="float:right">Total : Rs.{{order.get_cart_total}}</p>
        <div style="clear: both;"></div>
    </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AQlahSJE_kSBSYhcAHEOUQB1tYTrBIrJWVZurqfM19OFZtdQlf8p_uZVVMl_2B60ZmwFB7O0qSjEf2a8&currency=USD"></script>
<script>
    // Render the PayPal button into #paypal-button-container
    var total = '{{order.get_cart_total}}'
    paypal.Buttons({

        style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40,
            },
        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                submitFormData();
            });
        }
    }).render('#paypal-button-container');
</script>
<script type="text/javascript">
    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_total}}'

    if (shipping == 'False'){
        document.getElementById("shipping-info").innerHTML = ''
    }
    console.log(user, " ", shipping);
    if (user != 'AnonymousUser'){
        document.getElementById('user-info').innerHTML = ''
    }
    if (shipping =='False' && user!= 'AnonymousUser'){
        document.getElementById('form-wrapper').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    }

    var form = document.getElementById('form')
    
    csrftoken = form.getElementsByTagName("input")[0].value
    console.log("New token: ", form.getElementsByTagName("input")[0].value)

    form.addEventListener('submit', function(e){
        e.preventDefault();
        console.log('Form Submitted');
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })

    /*document.getElementById('make-payment').addEventListener('click',function(e){
        submitFormData();
    })*/

    function submitFormData(){
        console.log("Payment button clicked!")

        var userFormData = {
            'name':null,
            'email':null,
            'total':total,
        }

        var shippingInfo = {
            'address':null,
            'city':null,
            'state':null,
            'pincode':null,
        }

        if (shipping != 'False'){
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.pincode = form.pincode.value
        }

        if (user == 'AnonymousUser'){
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }
        console.log('Shipping Info: ', shippingInfo);
        console.log('UserFormData: ', userFormData);

        var url = '/process_order/'
        fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success: ', data);
            alert('Transaction completed');
            cart = {}
            document.cookie = 'cart='+JSON.stringify(cart)+";domain=;path=/"
            window.location.href = "{% url 'store' %}";
        });
    }
</script>
{% endblock content %}
