{% extends 'store/index.html' %}
{% load static %}
{% block content %}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="{% static 'images/csealogo.png'%}" class="brand_logo" alt="Logo">
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <h3 id="form-title" style="color:gray">RESET PASSWORD</h3>
            </div>
            <br>
            <div class="d-flex justify-content-center form_container">
				<form method="POST">
					{% csrf_token %}
					<div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                              </svg></span>
                        </div>
                        {{form.email}}
                    </div>
					<div class="d-flex justify-content-center mt-3 login_container">
                        <input type="submit" name="Send Email">
                    </div>
                </form>
                {{form.errors}}
			</div>
		</div>
	</div>
</div>


	<script>

	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder='Email..';
	
	for (var field in form_fields){	
	form_fields[field].className += ' form-control'
	}
	</script>

{% endblock content %}