{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    
    {% for product in products%}
    <div class="col-lg-4 ">
        <a href="#"><img class="thumbnail" src="{{product.image.url}}"></a>
        <hr>
        <p style="float:left;font-size:1.5em"><strong>{{product.name}}</strong></p>
        <p style="float:right;font-size:1.5em"><strong>Rs. {{product.price|floatformat:2}}</strong></p>
        <div style="clear: both;"></div>
        <p style="float:left;font-size:1em">Product Description</p>
        <button  data-product={{product.name}} data-action="add" 
        class="btn btn-outline-secondary add-btn btn-sm update-cart" style="float:right">
            Add to Cart
        </button>
    </div>
    {%endfor%}
</div>
{% endblock content %}
